*{
    box-sizing: border-box;

}

header {
    background-color:rgb(242, 240, 240);
    text-align: center;
    height: 100px;
    padding: 10px;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #F8F8FF);
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 15px;

}

/* main {




}

section {




} */

footer {
    background-color: rgb(242, 240, 240);
    height: 100px;
    width: 100hv;
    margin-top: 38px;
    padding: 15px;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #151515;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    margin: 15px;
    padding: 20px;
}


.pic {
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวดิ่ง (optional) */
    width: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

/* .mypic {
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 7px;


} */

.borinfo {
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 25px;

}

.personalinformation {
    font-size: 18px;
    width: auto;
    margin-top: 30px;
    

}

.back{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.textback {
    border: 0px;

}

.back img:hover {
    background-color: #53d886; /* สีเมื่อ hover */
    transform: scale(1.1); /* ขยายปุ่มเล็กน้อย */
    border-radius: 35px;
    
}

.back img:active {
    transform: scale(0.93); /* ย่อปุ่มเล็กน้อยเมื่อคลิก */
}




@media only screen and (max-width: 480px) {


}