body {
    font-family: "Itim", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #FFF5E4;
}

@media screen and (max-width: 630px) {
    
    body {
        background-color: #E8D8C4;
        margin: 0;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 20px;
        }

        .Profile {
            flex-shrink: 0;

            width: 250px;

            border: 2px solid #FFB9B9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
            margin: 20px;
            
        }

        .content {
            border: 2px solid #FFB9B9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 10px;  
            padding: 20px;

            background-color: #fae6df;
            
            width: auto;
        }
    
        .content p {
            font-size: 16px;
            margin: 8px;
            color: #584B42;
            line-height: 1;
        }

    }

    header {
        margin: 30px;
        margin-bottom: 20px;

        align-items: center;
        justify-content: center;

    }

}

header {
    margin: 30px;
    margin-bottom: 20px;
}

header h1 {
    padding: 10px;
    font-size: 40px;
    color: #584B42;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    max-width: auto;
    max-height: auto;
    
    background-color: #FFD1D1;

    border: 2px solid #FFB9B9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    padding: 30px;
    

}

.Profile {
    flex-shrink: 0;

    width: 350px;

    border: 2px solid #FFB9B9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin: 20px;
    
}

.content {
    border: 2px solid #FFB9B9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;

    background-color: #fae6df;
    
    width: auto; 

}

.content p {
    font-size: 22px;
    margin: 10px 0;
    color: #584B42;
    line-height: 1;
}

.IG {
    font-size: 22px;
    font-family: "Itim", serif;
    color: #584B42;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
}

.IGpic {
    width: 15px;
}

footer {
    margin: 35px;
}



/* ปุ่ม BACK */
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    
    outline: none;

    cursor: pointer;

    width: 100px;
    height: 50px;
    
    background-image: linear-gradient(to top, 
    #D8D9DB 0%, #fff 80%, #FDFDFD 100%);

    /* color: #606060; */

    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px #fff;

    border-radius: 30px;
    border: 1px solid #8F9092;
    margin-bottom: 30px;

    transition: all 0.2s ease;
}
  
.back:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px     #CECFD1;
}
  
.back:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
  
.back:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


