body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 5px;
    background-color: #86bdd7;

}

header {
    margin-bottom: 25px;
}

header h1 {
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #151515;
}

.container {
    background-color: #cee9f5;
    font-style: italic;
    color: #151515;

    display: flex;
    align-items: flex-start;
    gap: 65px;

    width: auto;

    border: 2px solid #151515;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    
}

img {
    width: 350px;
    border: 2px solid #151515;
    border-radius: 10px;
}

.content {
    align-items: center;
    font-weight: 450px;
    font-size: 18px;
    
    width: auto;
    line-height: 1.5;
}

footer {
    margin-top: 35px;
    padding: 15px;
    
}



/* ปุ่ม Homepage */
.home {
    width: 50px;
    height: 50px;

    background-color: rgb(20, 20, 20);
    font-weight: 600;
    
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;

}
  
.homeicon {
    width: 20px;
    transition-duration: .3s;
}
  
.homeicon path {
    fill: white;
}
  
.home:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(19, 188, 84);
    align-items: center;
}
  
.home:hover .homeicon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}
  
.home::before {
    position: absolute;
    top: -20px;
    content: "Homepage";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}
  
.home:hover::before {
    font-size: 14px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}



/* ปุ่ม BACK */
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    
    outline: none;

    cursor: pointer;

    width: 100px;
    height: 50px;
    
    background-image: linear-gradient(to top, 
    #D8D9DB 0%, #fff 80%, #FDFDFD 100%);

    /* color: #606060; */

    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px #fff;

    border-radius: 30px;
    border: 1px solid #8F9092;
    margin-bottom: 25px;

    transition: all 0.2s ease;
}
  
.back:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px     #CECFD1;
}
  
.back:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
  
.back:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}



@media screen and (max-width: 700px) {
    
    .container {
        background-color: #cee9f5;
        font-style: italic;
        color: #151515;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
    
        width: auto;
    
        border: 2px solid #151515;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 20px;
        
    }

    img {
        width: 280px;
        border: 2px solid #151515;
        border-radius: 10px;
    }


}
