

*{
    box-sizing: border-box;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    /* background-color:rgb(242, 240, 240); */
    background: linear-gradient(to bottom,rgb(237, 235, 235), #FFFFFF, #F8F8FF);
    display: block;
    text-align: center;
    justify-content: center;

    width: 100%;
    height: auto;

    margin-bottom: 55px;
    padding: 15px;
}

body {
    /* background: linear-gradient(to bottom,rgb(237, 235, 235), #FFFFFF, #F8F8FF); */
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;

}

/* main {




}

section {




} */

footer {
    /* background-color: rgb(255, 252, 252); */
    background: linear-gradient(to top,rgb(237, 235, 235), #FFFFFF, #F8F8FF);
    height: 100px;
    width: 100%;
    margin-top: 38px;
    padding: 15px;

}



/* คำสั่งต่างๆ */
h1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 450px;

    background-color: #f4f3f3;

    border: 2px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px black;
    padding: 10px;
    
}
  



/* ส่วนของคำสั่ง class  */
.container {
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 20px;
    
}


.pic {

    height: auto;
    width: 280px; 

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    
}


.info {
    position: relative;

    background: linear-gradient(to top,rgb(237, 235, 235), #FFFFFF, #F8F8FF);
    font-size: 18px;

    border: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
    padding: 20px;

    width: auto;
}  



/* ปุ่ม Homepage */
.home {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: none; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    margin-top: 10px;
    margin-left: 20px;


    background-color: rgb(20, 20, 20);
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    cursor: pointer;
    transition-duration: .3s;
    
}
  
.homeicon {
    width: 20px;
    transition-duration: .3s;
}
  
.homeicon path {
    fill: white;
}
  
.home:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(19, 188, 84);
    align-items: center;
}
  
.home:hover .homeicon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}
  
.home::before {
    position: absolute;
    top: -20px;
    content: "Homepage";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}
  
.home:hover::before {
    font-size: 14px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}



/* IG ICON */
.Btn {
    width: 45px;
    height: 45px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    top: -33px;
    right: -120px;
    background-color: transparent;
    /* overflow: hidden; */
    border: none;
    border-radius: 10px;
    
    
    cursor: pointer;
    transition: all .3s;
}
  
.igContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BGig {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    
    z-index: -1;
    border-radius: 9px;

    pointer-events: none;
    animation: gradient-ig 6s ease infinite;
    transition: all .3s;
}

@keyframes gradient-ig {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}
  
.Btn:hover .BGig {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.Btn:hover .igContainer {
    background-color: rgba(156, 156, 156, 0.466);
}
  
  

/* FB ICON */
.F_Btn {
    width: 46px;
    height: 46px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
    position: relative;
    top: -78px;
    right: -188px;
    /* overflow: hidden; */
    border: none;
    border-radius: 10px;
    
    cursor: pointer;
    transition: all .3s;
}
  
.F_Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BG_f {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    
    background: linear-gradient(120deg, #3b5998, #4c70ba, #5a82d8);
    /* background-color: #1877F2; สีพื้นหลัง Facebook */
    
    z-index: -1;
    border-radius: 9px;

    pointer-events: none;
    animation: gradient-fb 6s ease infinite;
    transition: all .3s;
}

@keyframes gradient-fb {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}

  
.F_Btn:hover .BG_f {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.F_Btn:hover .F_Container {
    background-color: rgba(156, 156, 156, 0.466);
}



/* ปุ่ม back */
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    
    outline: none;

    cursor: pointer;

    width: 100px;
    height: 50px;
    
    background-image: linear-gradient(to top, 
    #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    /* color: #606060; */
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px #fff;

    border-radius: 30px;
    border: 1px solid #8F9092;

    transition: all 0.2s ease;
}
  
.back:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px     #CECFD1;
}
  
.back:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
  
.back:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
  


/* Respond หน้า Device. */
@media only screen and (max-width: 640px) {
    header {
        margin-bottom: 30px;
    }


    h1 {
        height: auto;
        width: 325px;
        padding: 10px;
    }

    .container {
        flex-direction: column;

    }

    .pic {
        margin-bottom: 35px;
    }

    

    .info {
        right: 18.5px;
    }

    
}


